<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644670662487-m0s267pi103hp38kujh8dd8042p57c49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644670662487-m0s267pi103hp38kujh8dd8042p57c49</string>
	<key>API_KEY</key>
	<string>AIzaSyA_rSFbKuk5hQAcwom8QjRwFcYgbXLQ8Ps</string>
	<key>GCM_SENDER_ID</key>
	<string>644670662487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tourMaker</string>
	<key>PROJECT_ID</key>
	<string>tourmaker-b6612</string>
	<key>STORAGE_BUCKET</key>
	<string>tourmaker-b6612.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644670662487:ios:8e2e3572c03d5066f1c012</string>
</dict>
</plist>